/* 
    From cssbuttons.io by @alexmaracinaru
    Para pagina productos #Agregar
*/

.cta {
    border: none;
    background: none;
    width: auto;
    padding-top: 2vw;
    align-self: baseline;
   }
   
   .cta span {
    letter-spacing: 0.5vw;
    font-size: 1vw;
    text-transform: uppercase;
    justify-items: center;
   }