#esc{
    display: flex;
    justify-content: center;
    padding-bottom: 5vw;
    fieldset{
        text-align: start;
        background-color: $colordalfo;
        font-size: 2vw;
        width: 40vw;
        display: flex;
        flex-direction: column;
        border-radius: 2vw;
        border-style: groove;
        border-color: $colormarronlogo;
        label{
            display: inline-block;
            width: 20vw;
        } 
        input{
            width: 15vw;
            align-self: center;
            min-width: 80px;
            max-width: 100px;   
        }
        
        
    }
}
#direccion{
    text-align: center;
    
}
#seguinos{
    font-size: 3vw; display: block; text-align: center; padding-bottom: 4vw;
}
#local{
    display: inline-block;
    width: 40vw;
    height: 30vw;
    padding-bottom: 1vw;
}
#info{
    font-size: 2vw;
    padding-bottom: 3vw;
    ul{
       list-style: none; 
    }
    
}
