footer{
    background-color: $colorrosaclaro;
    height: 5vw;
    margin: 0%;
    padding: 0%;
    padding-top: 2vw;
    padding-bottom: 2vw;

    #topof {
            display: flex;
            font-size: 2vw;
            font-style: none;
            font-family: $fontfamily;
            color: $colormarronlogo;
            background: $colorrosaclaro;
            font-weight: 600;
            border-radius: 1vw;
            float: right;
         }
}