footer{
    background-color: $colorrosaclaro;
    height: 5vw;
    margin: 0%;
    padding: 0%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    #Copy{
        padding: 1.5%;
        font-size: 2vw;
    }
    ul{
        margin: 0%;
        
    }
}