footer{
    background-color: $colorrosaclaro;
    margin: 0%;
    padding: 0%;
    padding-top: 1vw;
    padding-bottom: 2vw;
    div{
        padding: 0 0 0 0;
        text-align: center;
        font-family: $fontfamily;
        color: $colormarronlogo;
        margin-top: 1vw;
    }
    i{
        margin-left: 3vw;
        font-size: 3vw;
    }
    p{
        margin-top: 2vw;
    }
    

    #topof {
        display: flex;
        font-size: 2vw;
        font-style: none;
        font-family: $fontfamily;
        color: $colormarronlogo;
        background: $colorrosaclaro;
        font-weight: 600;
        border-radius: 1vw;
        float: right;
        margin-right: 3vw;
         }
}