.home{
    display: flex; justify-content: center; margin-top: 50px; line-height: normal;
}

.titulo{
    display: flex;
    flex-direction: column;
    line-height: normal;
    

    #torre{
        margin: 2% 0 0 0;
        width: 20%;
        height: auto;
    }
    #Dalfo{
        color: $colordalfo; font-size: 10vw; text-transform: uppercase; margin: 0; font-weight: 800; font-family: $fontfamily;
    }
}

#novedades{
    text-align: center; border-color: #48331e; border-style: double; border-radius: 5px; width: 35%; margin-right: 20px;padding-bottom: 3vw;margin-bottom: 3vw;
}

#promociones{
    text-align: center; border-color: #48331e; border-style: double; border-radius: 5px; width: 35%;padding-bottom: 3vw; margin-bottom: 3vw;
}
#river{
    width: 15vw; padding-top: 2vw;
}
#boca{
    width: 15vw; padding-top: 2vw;
}

#fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}