.home{
    display: flex; justify-content: center; margin-top: 50px; line-height: normal;
}

.titulo{
    display: flex;
    flex-direction: column;
    line-height: normal;
    

    #torre{
        margin: 2% 0 0 0;
        width: 20%;
        height: auto;
    }
    #Dalfo{
        color: $colordalfo; font-size: 10vw; text-transform: uppercase; margin: 0; font-weight: 800; font-family: $fontfamily;
    }
}

#novedades{
    text-align: center; border-color: #48331e; border-style: double; border-radius: 5px; width: 35%;margin: 0 5vw 3vw 0; padding: 1vw 0 3vw 0;
    p{
        padding: 0; margin: 0;
    }
}

#promociones{
    text-align: center; border-color: #48331e; border-style: double; border-radius: 5px; width: 35%;padding: 1vw 0 3vw 0; margin-bottom: 3vw;
    p{
        padding: 0 2vw 0 2vw;
    }
    #ir{
        padding-top: 5vw;
    }
}
#river{
    width: 15vw; padding-top: 2vw;
}
#boca{
    width: 15vw; padding-top: 2vw;
}

#fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}