body{
    margin: 0;
    
}

nav{
    text-align: center;
        
    ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 4%;
    background-image: $backgroudimgnav;
    background-size: 25%;

        & li {
        background-color:pink;
        font-size: 3vw;
        width: auto; 
        border: 0.3vw #48331e solid;
        border-radius: 15px;
        font-family: $fontfamily;
        color:#48331e;
        padding: 0.4vw 1.5vw 0.4vw 1.5vw;
        :hover{color: $colormarronlogo;}
        line-height: normal;
    }
    }

    & a{
    color: #48331e;
    text-decoration: none;
    font-weight: 600;
    
    
    }
}
