@keyframes NOSI1 {
    0%   {background-image: url(../imagenes/logo-australia2.jpg)}
    30%  {background-image: url(../imagenes/Logo-australia.jpg)}
    60%  {background-image: url(../imagenes/IG.jpg)}
    
}
div{
    #NOSI1 {
        width: 25vw;
        height: 25vw;
        background-image: url(../imagenes/logo-australia2.jpg);
        background-size: contain;
        animation-name: NOSI1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        display: inline-block;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}


.carousel-item img {
    margin: auto;
    width: 15vw;
    height: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#NOSI2{
    
    img{
        width: 25vw;
        height: auto;
    }
    margin-top: 2vw;
    padding-bottom: 2vw;
    
  }

h2{
    font-weight: 600;
}
h3{
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-weight: 600;
}