@keyframes NOSI1 {
    0%   {background-image: url(../Imagenes/logo-australia2.jpg)}
    30%  {background-image: url(../Imagenes/Logo-australia.jpg)}
    60%  {background-image: url(../Imagenes/IG.jpg)}
    
}
div{
    #NOSI1 {
        width: 400px;
        height: 400px;
        background-image: url(../Imagenes/logo-australia2.jpg);
        animation-name: NOSI1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        display: inline-block;
    }
}


.carousel-item img {
    margin: auto;
    width: 15vw;
    height: auto;
}

#NOSI2{
    
    img{
        width: 25vw;
        height: auto;
    }
    
  }