.sabores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 35vw 35vw 35vw;
    grid-template-areas:
    "A1 A1 A1" 
    "B1 B2 B3"
    "C1 C2 C3"
    "D1 D2 D3"
    "E1 E2 E3";
    margin: 0;
    justify-content: center;
    text-align: center;
    justify-items: center;
    
}
.gridcomponente{
    border: #48331e;
    img{
        width: 15vw;
        height: auto;
    }
    p{
        font-size: 2vw;
        padding-top: 3%;
    }

}
#A1{
    grid-area: A1;
    padding-top: 2%;
    div{
        padding-top: 2vw;
    }
    select{
        height: auto;
        width: 16vw;
        font-size: 3vw;
        font-family: $fontfamily;
        text-align: center;

        }
}
#B1{
    @extend .gridcomponente;
    grid-area: B1;
}
#B2{
    @extend .gridcomponente;
    grid-area: B2;
}
#B3{
    @extend .gridcomponente;
    grid-area: B3;
}
#C1{
    @extend .gridcomponente;
    grid-area: C1;
}
#C2{
    @extend .gridcomponente;
    grid-area: C2;
}
#C3{
    @extend .gridcomponente;
    grid-area: C3;
}
#D1{
    @extend .gridcomponente;
    grid-area: D1;
}
#D2{
    @extend .gridcomponente;
    grid-area: D2;
}
#D3{
    @extend .gridcomponente;
    grid-area: D3;
}
#E1{
    @extend .gridcomponente;
    grid-area: E1;
}
#E2{
    @extend .gridcomponente;
    grid-area: E2;
}
#E3{
    @extend .gridcomponente;
    grid-area: E3;
}

#Agregar{
    padding-top: 10%;
}
