$colordalfo: #ffffff;
$colormarronclaro: #8c6239;
$colormarronlogo: #48331e;
$colorrosalogo: #e37d8b;
$colorrosaclaro: #ffc0cb;
$backgroudimgnav: url(../imagenes/fondo.JPG);
$fontfamily: 'Dosis', sans-serif;