 /*
 colores a usar:
 #48331e marron logo
 #8c6239 marron claro logo
 #e37d8b rosa logo
 #ffc0cb rosa suave
 #ffffff blanco
 */

@import "_variables.scss";
@import "_nav.scss";
@import "_home.scss";
@import "_contacto.scss";
@import "_recetas.scss";
@import "_productos.scss";
@import "_nosotros.scss";
@import "_botones.scss";
@import "_footer.scss";
@import "_mediaq.scss";

@mixin estilotexto ($fontfamily, $fontsize, $fontcolor){
    font-family: $fontfamily;
    color: $fontcolor; 
    text-align: center; 
    font-size: $fontsize; 
    margin: 0;
}

h2{
    @include estilotexto($fontfamily, 5vw , #48331e)
}
h3{
    @include estilotexto($fontfamily, 5vw , #48331e);
    display: inline-block;
}
h4{
    @include estilotexto($fontfamily, 3vw , #48331e)
}
p{
    @include estilotexto($fontfamily, 2vw , black)
}
main{
    background-color:#e37d8b;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: visible;
}
.bombones{
    width: 40px;
}


