 /*
 colores a usar:
 #48331e marron logo
 #8c6239 marron claro logo
 #e37d8b rosa logo
 #ffc0cb rosa suave
 #ffffff blanco
 */

@import "_variables.scss";
@import "_nav.scss";
@import "_home.scss";
@import "_contacto.scss";
@import "_recetas.scss";
@import "_productos.scss";
@import "_nosotros.scss";
@import "_mediaq.scss";

.titulo{
    display: flex;
    flex-direction: column;

    #torre{
        margin: 20px 0 0 0;}

    #Dalfo{
        color: $colordalfo; font-size: 100px; text-transform: uppercase; margin: 0; font-weight: 800;}
}

h1{
    font-family: $fontfamily; color:#48331e; font-size: 100px; margin: 0;
}
h2{
    font-family: $fontfamily; color:#48331e; text-align: center; font-size: 70px; margin: 0;
}
h3{
    font-family: $fontfamily; color:#48331e; font-size: 50px; text-align: center;display: inline-block;;
}
h4{
    font-family: $fontfamily; color:#48331e; text-align: center; font-size: 50px; margin: 0;
}
p{
    font-family: $fontfamily; font-size: 30px
}
main{
    background-color:#e37d8b;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: visible;
}
header{
background-image: $backgroudimgnav;
background-size:contain;
padding: 0;
}



