 /*
 colores a usar:
 #48331e marron logo
 #8c6239 marron claro logo
 #e37d8b rosa logo
 #ffc0cb rosa suave
 #ffffff blanco
 */

@import "_variables.scss";
@import "_nav.scss";
@import "_home.scss";
@import "_contacto.scss";
@import "_recetas.scss";
@import "_productos.scss";
@import "_nosotros.scss";
@import "_mediaq.scss";
@import "_botones.scss";

@mixin estilotexto ($fontfamily, $fontsize, $fontcolor){
    font-family: $fontfamily;
    color: $fontcolor; 
    text-align: center; 
    font-size: $fontsize; 
    margin: 0;
}



.titulo{
    display: flex;
    flex-direction: column;

    #torre{
        margin: 20px 0 0 0;}

    #Dalfo{
        color: $colordalfo; font-size: 100px; text-transform: uppercase; margin: 0; font-weight: 800;}
}

h1{
    @include estilotexto($fontfamily, 100px , #48331e);
    text-align: none
}
h2{
    @include estilotexto($fontfamily, 70px , #48331e)
}
h3{
    @include estilotexto($fontfamily, 50px , #48331e);
    display: inline-block;
}
h4{
    @include estilotexto($fontfamily, 40px , #48331e)
}
p{
    @include estilotexto($fontfamily, 40px , black)
}
main{
    background-color:#e37d8b;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: visible;
}
header{
background-image: $backgroudimgnav;
background-size:contain;
padding: 0;
}
.bombones{
    width: 40px;
}


