/*
 colores a usar:
 #48331e marron logo
 #8c6239 marron claro logo
 #e37d8b rosa logo
 #ffc0cb rosa suave
 #ffffff blanco
 */
body {
  margin: 0; }

nav {
  text-align: center; }
  nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 4%;
    background-image: url(../imagenes/fondo.JPG);
    background-size: 25%; }
    nav ul li {
      background-color: pink;
      font-size: 3vw;
      width: auto;
      border: 0.3vw #48331e solid;
      border-radius: 15px;
      font-family: "Dosis", sans-serif;
      color: #48331e;
      padding: 0.4vw 1.5vw 0.4vw 1.5vw;
      line-height: normal; }
      nav ul li :hover {
        color: #48331e; }
  nav a {
    color: #48331e;
    text-decoration: none;
    font-weight: 600; }

.home {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  line-height: normal; }

.titulo {
  display: flex;
  flex-direction: column;
  line-height: normal; }
  .titulo #torre {
    margin: 2% 0 0 0;
    width: 20%;
    height: auto; }
  .titulo #Dalfo {
    color: #ffffff;
    font-size: 10vw;
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
    font-family: "Dosis", sans-serif; }

#novedades {
  text-align: center;
  border-color: #48331e;
  border-style: double;
  border-radius: 5px;
  width: 35%;
  margin-right: 20px;
  padding-bottom: 3vw;
  margin-bottom: 3vw; }

#promociones {
  text-align: center;
  border-color: #48331e;
  border-style: double;
  border-radius: 5px;
  width: 35%;
  padding-bottom: 3vw;
  margin-bottom: 3vw; }

#river {
  width: 15vw;
  padding-top: 2vw; }

#boca {
  width: 15vw;
  padding-top: 2vw; }

#fotos {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#esc {
  display: flex;
  justify-content: center;
  padding-bottom: 5vw; }
  #esc fieldset {
    text-align: start;
    background-color: #ffffff;
    font-size: 2vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    border-style: groove;
    border-color: #48331e; }
    #esc fieldset label {
      display: inline-block;
      width: 20vw; }
    #esc fieldset input {
      width: 15vw;
      align-self: center;
      min-width: 80px;
      max-width: 100px; }

#direccion {
  text-align: center; }

#seguinos {
  font-size: 3vw;
  display: block;
  text-align: center;
  padding-bottom: 4vw; }

#local {
  display: inline-block;
  width: 40vw;
  height: 30vw;
  padding-bottom: 1vw; }

#info {
  font-size: 2vw;
  padding-bottom: 3vw; }
  #info ul {
    list-style: none; }

.Recetas2 {
  display: grid;
  grid-template-rows: 15vw 70vw;
  grid-template-areas: "R1"  "RDDL";
  border: #48331e;
  border-radius: 1vw;
  border-style: solid;
  margin: 3vw 4vw 0 4vw; }
  .Recetas2 #aprender h3 {
    text-align: center; }
    .Recetas2 #aprender h3 #R1 {
      grid-area: R1;
      display: flex;
      margin: 0;
      font-size: 4vw; }
  .Recetas2 #RDDL {
    grid-area: RDDL;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    font-size: 2vw; }
    .Recetas2 #RDDL h4 {
      font-size: 5vw;
      text-decoration: underline; }
    .Recetas2 #RDDL table {
      width: 50vw;
      align-self: center;
      padding-top: 2vw; }
      .Recetas2 #RDDL table #instrucciones {
        width: 50vw; }
  .Recetas2 img {
    width: 20vw;
    height: auto;
    padding-top: 2vw;
    align-self: center; }

.sabores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vw 35vw 35vw 35vw;
  grid-template-areas: "A1 A1 A1"  "B1 B2 B3" "C1 C2 C3" "D1 D2 D3" "E1 E2 E3";
  margin: 0 0 0 0;
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding-bottom: 5vw; }

.gridcomponente, #B1, #B2, #B3, #C1, #C2, #C3, #D1, #D2, #D3, #E1, #E2, #E3 {
  border: #48331e; }
  .gridcomponente img, #B1 img, #B2 img, #B3 img, #C1 img, #C2 img, #C3 img, #D1 img, #D2 img, #D3 img, #E1 img, #E2 img, #E3 img {
    width: 15vw;
    height: auto; }
  .gridcomponente p, #B1 p, #B2 p, #B3 p, #C1 p, #C2 p, #C3 p, #D1 p, #D2 p, #D3 p, #E1 p, #E2 p, #E3 p {
    font-size: 2vw;
    padding-top: 3%; }

#A1 {
  grid-area: A1;
  padding-top: 5%; }
  #A1 div {
    padding-top: 2vw; }
  #A1 select {
    height: auto;
    width: 16vw;
    font-size: 3vw;
    font-family: "Dosis", sans-serif;
    text-align: center; }

#B1 {
  grid-area: B1; }

#B2 {
  grid-area: B2; }

#B3 {
  grid-area: B3; }

#C1 {
  grid-area: C1; }

#C2 {
  grid-area: C2; }

#C3 {
  grid-area: C3; }

#D1 {
  grid-area: D1; }

#D2 {
  grid-area: D2; }

#D3 {
  grid-area: D3; }

#E1 {
  grid-area: E1; }

#E2 {
  grid-area: E2; }

#E3 {
  grid-area: E3; }

@keyframes NOSI1 {
  0% {
    background-image: url(../imagenes/logo-australia2.jpg); }
  30% {
    background-image: url(../imagenes/Logo-australia.jpg); }
  60% {
    background-image: url(../imagenes/IG.jpg); } }

div #NOSI1 {
  width: 25vw;
  height: 25vw;
  background-image: url(../imagenes/logo-australia2.jpg);
  background-size: contain;
  animation-name: NOSI1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: inline-block;
  margin-top: 2vw;
  margin-bottom: 2vw; }

div p {
  line-height: normal;
  text-align: center;
  margin: 0 10vw 0 10vw; }

.carousel-item img {
  margin: auto;
  width: 15vw;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw; }

#NOSI2 {
  margin-top: 2vw;
  padding-bottom: 2vw; }
  #NOSI2 img {
    width: 25vw;
    height: auto; }

h2 {
  font-weight: 600;
  line-height: normal; }

h3 {
  padding-top: 1vw;
  padding-bottom: 2vw;
  font-weight: 600;
  line-height: normal; }

h1 {
  line-height: normal; }

.carousel-control-prev {
  margin-left: 20vw; }

.carousel-control-next {
  margin-right: 20vw; }

/* 
    From cssbuttons.io by @alexmaracinaru
    Para pagina productos #Agregar
*/
.cta {
  border: none;
  background: none;
  width: auto;
  padding-top: 2vw;
  align-self: baseline; }

.cta span {
  letter-spacing: 0.5vw;
  font-size: 1vw;
  text-transform: uppercase;
  justify-items: center; }

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active svg {
  transform: scale(0.9); }

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px; }

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

footer {
  background-color: #ffc0cb;
  height: 5vw;
  margin: 0%;
  padding: 0%;
  padding-top: 2vw;
  padding-bottom: 2vw; }
  footer #topof {
    display: flex;
    font-size: 2vw;
    font-style: none;
    font-family: "Dosis", sans-serif;
    color: #48331e;
    background: #ffc0cb;
    font-weight: 600;
    border-radius: 1vw;
    float: right; }

@media only screen and (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home #novedades {
      margin: 0 0 5vw 0; }
    .home #promociones {
      margin: 0 0 5vw 0; }
  .sabores {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw 35vw 35vw 35vw 35vw 35vw 35vw;
    grid-template-areas: "A1 A1"  "B1 B2" "B3 C1" "C2 C3" "D1 D2" "D3 E1" "E2 E3"; } }

/*
    #local{
        width: 300px; height: 225px;
    }
    #formulario{
        width: 300px; max-height: fit-content; border: #48331e;border-radius: 1px; border-style: solid;
    }
    #Recetas2{
        display:flex; flex-direction: column; justify-content: center; width: fit-content;
    }
    #R1{
        font-size: 25px;
    }
    #RDDL{
        width: 300px; height: 300px;
    }
    #RNUT{
        width: 300px; height: 300px;
    }
    #RNAR{
        width: 300px; height: 300px;
    }
    #TNov{
        display: inline-flex; width: 300px;
    }
    #TProm{
        display: inline-flex; width: 300px;
    }
    #carousel-picture{
        width: 1000px; height: auto; 
    }
    .sabores{
        display: flex; flex-direction: column;
    }
    articles div{
        display: flex; flex-direction: row;
    }
    .carousel-item img {
        margin: unset !important;
        height: auto;
    }
*/
h2 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 5vw;
  margin: 0; }

h3 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 5vw;
  margin: 0; }

h4 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 3vw;
  margin: 0; }

p {
  font-family: "Dosis", sans-serif;
  color: black;
  text-align: center;
  font-size: 2vw;
  margin: 0; }

main {
  background-color: #e37d8b;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: visible; }

.bombones {
  width: 40px; }
