/*
 colores a usar:
 #48331e marron logo
 #8c6239 marron claro logo
 #e37d8b rosa logo
 #ffc0cb rosa suave
 #ffffff blanco
 */
nav {
  text-align: center; }
  nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 4%;
    background-image: url(../Imagenes/fondo.JPG);
    background-size: 25%; }
    nav ul li {
      background-color: pink;
      font-size: 3vw;
      width: auto;
      border: 0.3vw #48331e solid;
      border-radius: 15px;
      font-family: "Dosis", sans-serif;
      color: #48331e;
      padding: 0.4vw 1.5vw 0.4vw 1.5vw; }
  nav a {
    color: #48331e;
    text-decoration: none;
    font-weight: 600; }

.home {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.titulo {
  display: flex;
  flex-direction: column; }
  .titulo #torre {
    margin: 2% 0 0 0;
    width: 20%;
    height: auto; }
  .titulo #Dalfo {
    color: #ffffff;
    font-size: 10vw;
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
    font-family: "Dosis", sans-serif; }

#novedades {
  text-align: center;
  border-color: #48331e;
  border-style: double;
  border-radius: 5px;
  width: 35%;
  margin-right: 20px; }

#promociones {
  text-align: center;
  border-color: #48331e;
  border-style: double;
  border-radius: 5px;
  width: 35%; }

#river {
  width: 15vw; }

#boca {
  width: 15vw; }

#fotos {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#formulario {
  background-color: white;
  width: 400px;
  height: fit-content;
  display: inline-block;
  align-items: center;
  font-family: "Dosis", sans-serif; }

#direccion {
  text-align: center; }

#seguinos {
  font-size: 30px;
  display: block;
  text-align: center; }

#local {
  display: inline-block; }

.Recetas2 {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 30vw 30vw 30vw 30vw;
  grid-template-areas: "R1"  "RDDL" "RNAR" "RNUT";
  border: #48331e;
  border-radius: 1vw;
  border-style: solid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 2vw; }
  .Recetas2 .pasos {
    display: flex;
    font-style: none; }

#R1 {
  grid-area: R1;
  display: flex; }

#RDDL {
  grid-area: RDDL; }
  #RDDL table {
    display: inline-block;
    padding-top: 2vw; }
  #RDDL img {
    width: 20vw;
    height: auto;
    padding-top: 2vw; }

#RNUT {
  grid-area: RNUT; }
  #RNUT table {
    display: inline-block;
    padding-top: 2vw; }
  #RNUT img {
    width: 20vw;
    height: auto;
    padding-top: 2vw; }

#RNAR {
  grid-area: RNAR; }
  #RNAR table {
    display: inline-block;
    padding-top: 2vw; }
  #RNAR img {
    width: 20vw;
    height: auto;
    padding-top: 2vw; }

.sabores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 35vw 35vw 35vw;
  grid-template-areas: "A1 A1 A1"  "B1 B2 B3" "C1 C2 C3" "D1 D2 D3" "E1 E2 E3";
  margin: 0;
  justify-content: center;
  text-align: center;
  justify-items: center; }

.gridcomponente, #B1, #B2, #B3, #C1, #C2, #C3, #D1, #D2, #D3, #E1, #E2, #E3 {
  border: #48331e; }
  .gridcomponente img, #B1 img, #B2 img, #B3 img, #C1 img, #C2 img, #C3 img, #D1 img, #D2 img, #D3 img, #E1 img, #E2 img, #E3 img {
    width: 15vw;
    height: auto; }
  .gridcomponente p, #B1 p, #B2 p, #B3 p, #C1 p, #C2 p, #C3 p, #D1 p, #D2 p, #D3 p, #E1 p, #E2 p, #E3 p {
    font-size: 2vw;
    padding-top: 3%; }

#A1 {
  grid-area: A1;
  padding-top: 2%; }
  #A1 div {
    padding-top: 2vw; }
  #A1 select {
    height: auto;
    width: 16vw;
    font-size: 3vw;
    font-family: "Dosis", sans-serif;
    text-align: center; }

#B1 {
  grid-area: B1; }

#B2 {
  grid-area: B2; }

#B3 {
  grid-area: B3; }

#C1 {
  grid-area: C1; }

#C2 {
  grid-area: C2; }

#C3 {
  grid-area: C3; }

#D1 {
  grid-area: D1; }

#D2 {
  grid-area: D2; }

#D3 {
  grid-area: D3; }

#E1 {
  grid-area: E1; }

#E2 {
  grid-area: E2; }

#E3 {
  grid-area: E3; }

#Agregar {
  padding-top: 10%; }

@keyframes NOSI1 {
  0% {
    background-image: url(../Imagenes/logo-australia2.jpg); }
  30% {
    background-image: url(../Imagenes/Logo-australia.jpg); }
  60% {
    background-image: url(../Imagenes/IG.jpg); } }

div #NOSI1 {
  width: 25vw;
  height: 25vw;
  background-image: url(../Imagenes/logo-australia2.jpg);
  background-size: contain;
  animation-name: NOSI1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: inline-block;
  margin-top: 2vw;
  margin-bottom: 2vw; }

.carousel-item img {
  margin: auto;
  width: 15vw;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw; }

#NOSI2 {
  margin-top: 2vw;
  padding-bottom: 2vw; }
  #NOSI2 img {
    width: 25vw;
    height: auto; }

h2 {
  font-weight: 600; }

h3 {
  padding-top: 1vw;
  padding-bottom: 2vw;
  font-weight: 600; }

/* From cssbuttons.io by @alexmaracinaru */
.cta {
  border: none;
  background: none; }

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase; }

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active svg {
  transform: scale(0.9); }

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px; }

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

footer {
  background-color: #ffc0cb;
  height: 5vw;
  margin: 0%;
  padding: 0%;
  padding-top: 2vw;
  padding-bottom: 2vw; }
  footer #Copy {
    padding: 1.5%;
    font-size: 2vw; }
  footer ul {
    margin: 0%; }

@media only screen and (max-width: 400px) {
  main {
    background-color: #e37d8b;
    padding: 0;
    margin: 0; }
  #nav {
    text-align: center; }
  header {
    background-image: url(../Imagenes/26.JPG);
    padding: 0; }
  h2 {
    font-family: "Dosis", sans-serif;
    color: #48331e;
    text-align: center;
    font-size: 30px;
    margin: 0; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; }
  #novedades {
    border: none; }
  #promociones {
    border: none; }
  #river {
    width: 162px;
    height: 108px; }
  #boca {
    width: 162px;
    height: 108px; }
  p {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    align-items: center;
    max-width: 400px; }
  #local {
    width: 300px;
    height: 225px; }
  #formulario {
    width: 300px;
    max-height: fit-content;
    border: #48331e;
    border-radius: 1px;
    border-style: solid; }
  #Recetas2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content; }
  #R1 {
    font-size: 25px; }
  #RDDL {
    width: 300px;
    height: 300px; }
  #RNUT {
    width: 300px;
    height: 300px; }
  #RNAR {
    width: 300px;
    height: 300px; }
  #TNov {
    display: inline-flex;
    width: 300px; }
  #TProm {
    display: inline-flex;
    width: 300px; }
  #carousel-picture {
    width: 1600px;
    height: auto; }
  .sabores {
    display: flex;
    flex-direction: column; }
  articles div {
    display: flex;
    flex-direction: row; }
  .carousel-item img {
    margin: unset !important;
    height: auto; } }

h2 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 5vw;
  margin: 0; }

h3 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 5vw;
  margin: 0;
  display: inline-block; }

h4 {
  font-family: "Dosis", sans-serif;
  color: #48331e;
  text-align: center;
  font-size: 3vw;
  margin: 0; }

p {
  font-family: "Dosis", sans-serif;
  color: black;
  text-align: center;
  font-size: 2vw;
  margin: 0; }

main {
  background-color: #e37d8b;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: visible; }

.bombones {
  width: 40px; }
